@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@100;400;700&display=swap');

body {
    font-family: 'poppins', sans-serif;
    margin: 0px auto;
    max-width: 90%;
    width: 100%;
}

:root {
    --primary-color: #059669;
    --off-white: #f3f4f6;
    --dark-gray: #6b7280;
}

/* margin */
.margin-md {
    margin-top: 2rem;
}

/* container */

.container {
    padding: 0rem 1rem;
    width: auto;
}

.container-center {
    max-width: 900px;
    width: 100%;
    margin: auto;
}


.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    color: white;
    border-radius: 2rem;
    font-weight: 400;
    border: none;
    padding: 0.5rem 1.3rem;
}

.link-secondary {
    border: 1px solid var(--primary-color);
    border-radius: 2rem;
    color: var(--primary-color);
    margin: 1rem;
    padding: 0.5rem 1.3rem;
}

/* Lists */

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    padding: 0rem 0.5rem;
    display: inline;
}

/* navigation */
.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.navigation .link {
    color: white;
}

.nav-brand {
    font-weight: bold;
    padding-top: 0.5rem;
}

.nav-pills {
    text-align: right;
}

.link-active {
    font-weight: bold;
}

/* Hero */
.hero {

    padding-top: 4rem;
    padding-bottom: 2rem;

}

.hero-img {
    display: block;
    max-width: 350px;
    margin: auto;
    width: auto;
}

.hero .hero-heading {
    color: var(--dark-gray);
    text-align: center;
}

.hero-heading-highlight {
    color: var(--primary-color);
}

.section {
    text-align: center;
    padding: 2rem;
}

.off-white {
    background-color: var(--off-white);
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin: auto;
    width: 80%;
    padding: 0.5rem;
}

/* Footer */

.footer {
    background-color: var(--primary-color);
    margin-top: 2rem;
    text-align: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 1rem;
}

.footer .link {
    color: white;
}

.footer-header {
    color: white;
    font-weight: 700;
    padding-top: 1rem;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
}

/* Showcase List */
.showcase-list {
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 2rem 0;
    text-align: center;
    margin: 1rem auto;
}

.heading-code {
    text-align: center;
    padding-top: 2rem;
}

.showcase-list h1 {
    margin: 0px;
    font-size: 1.5em;
}

.showcase-list p {
    margin-top: 0.2rem;
    padding-bottom: 0.5rem;
}

small {
    font-size: smaller;
    display: inline;
    margin: 0;
}

.ol {
    padding-inline-start: 0px;
}

/* blog */
.blog-content {
    text-align: justify;
    padding-bottom: 0.5rem;
}

.blogs h1 {
    margin-top: 2.5rem;
    margin-bottom: 0px;
}
.blog_h2{
    margin-top: 0;
    margin-bottom: 0.5rem;
}
